*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, rgb(173, 173, 255), rgb(235, 235, 255));
}
h1{
    padding: 10px;
    margin: 20px 0px;
    font-size: 3rem;
    position: relative;
    color: #222;
}

#input-container{
    background-color: #f3f3f3da;
    padding: 25px 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.201);
    margin-bottom: 20px;
    margin-left: 40px;
    border-radius: 10px;
    position: relative;
    max-width: 400px;
}
#input{
    position: absolute;
    padding: 0 20px;
    padding: 10px 25px;
    max-width: 370px;
    outline: none;
    width: 100%;
    background-color: transparent;
    border: none;
    top: 6px;
    font-size: 1rem;
}
#copy-btn{
    position: absolute;
    right: 15px;
    top: 14px;
    font-size: 1.3rem;
}
#copy-btn:hover{
    color: #333;
    transform: translateY(-2px);
    transition: 0.2s ease;
}
#copy-btn:active{
    transform: translateY(0);
}
#generate{
    padding: 15px;
    max-width: 250px;
    margin: 20px 20px;
    border-radius: 10px;
    border: none;
    background-color: #222;
    align-items: center;
    color: white;
    font-size: 1rem;
}
#generate:hover{
    transform: translateY(-2px);
    background-color: #333;
    transition: 0.3s ease;
}
#generate:active{
    transform: translateY(0);
    background-color: #222;
}
.fa-bolt{
    color: rgb(255, 213, 0);
    font-size: 1.2rem;
}

#pw-length-container{
    margin: 20px;
    padding-left: 20px;
}
#pw-length-container label{
    font-weight: 400;
    padding-right: 10px;
}
#password-length{
    max-width: 50px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.193);

}
